
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&family=Special+Elite&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Major Mono Display', monospace;
}
body{
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  background-color:rgba(121, 167, 192, 0.999);
}









/* registrerings sidan */

.login-reg{
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  font-size: 2rem;
  min-width: fit-content;
  max-height: fit-content;
  box-shadow: 3px 3px 3px gray;
  border-radius: 20rem 20rem 20rem 0px;
  padding: 14%;
  position: relative;
}
.reg-button{
  font-size: 1rem;
  width: 15%;
  position: absolute;
  top: 90%;
  border-radius: 0.2rem;
  border: solid rgba(121, 167, 192, 0.999)
}



/* inloggnings sida style */
.login-log{
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  font-size: 2rem;
  min-width: fit-content;
  max-height: fit-content;
  box-shadow: 3px 3px 3px gray;
  padding: 5%;
  border-radius: 20rem 20rem 20rem 0px;
  position: relative;
  padding: 14%;
}
.fjäril{
  display: inline;
}
.head{
  display: inline;
  position: absolute;
  top: 20%;
  left: 40%;
}
.login-button{
  border:solid rgba(121, 167, 192, 0.999);
  border-radius: 0.2rem;
  padding: 0.9%;
  margin: 2%;
  font-size: 1rem;
}



/* index sidan */
.loggaUt{
  padding: 4%;
  margin: 12%;
  border-radius: 10rem 10rem 10rem 0px;
  font-size: 15px;
}
.commenty-box,.inläggen{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-bottom: 5%;
  min-width: fit-content;
  max-height: fit-content;
  box-shadow: 4px 4px 4px gray;
  padding: 30%;
  font-size: 20px;
}
.inläggen{
  border-radius: 20rem 20rem 20rem 0px;
}
.commenty-box{
  border-radius: 20rem 25rem 0rem 30rem;
}
.Välkommen{
  position: absolute;
  font-size: 20px;
  text-align: center;
  text-wrap: balance;
}

.main{
  background-image: linear-gradient(rgb(235, 235, 245), rgba(72, 140, 177, 0.999));
  border-radius: 4rem 4rem 0rem 0rem;
  top: 50%;
  position: absolute;
  min-width: fit-content;
  min-height: fit-content;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 5%;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  padding: 3%;
  margin: 12%;
  font-size: 15px;
  
}